* {
    font-family: "roboto", arial, sans-serif;
}

h1,
p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    flex-direction: column;
    display: flex;
}

.container > * {
    padding-bottom: 30px;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

.logo {
    color: #f9faf8;
    font-size: 32px;
}

ul {
    display: flex;
    gap: 10px;
    margin: 0;
}

li {
    list-style: none;
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-text,
.footer {
    font-size: 18px;
    color: #e5e7eb;
}

.left {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    width: 80px;
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    font-weight: 800;
}

.placeholder {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 500px;
    height: 350px;
}

.info-title {
    text-align: center;
    padding: 20px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.information {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.info {
    max-width: 200px;
    text-align: center;
}

.info > div {
    border: 4px solid #3882f6;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 10px;
    flex-wrap: wrap;
}

.quote {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 50px 200px;
    background-color: #e5e7eb;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote b {
    text-align: right;
    font-size: 24px;
}

.call-to-action {
    background-color: #3882f6;
    margin: 75px 25%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 50px 75px;
    gap: 50px;
    justify-content: space-between;
}

.call-main {
}

.call-main h1 {
    color: #f9faf8;
}

.call-main p {
    color: #e5e7eb;
}

.call-to-action button {
    justify-self: center;
    border: 2px solid #e5e7eb;
}

.footer {
    text-align: center;
    padding: 30px;
}
